 .userInput-card {
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #5cb85c;
  color: white;
}

.userInput-full-width {
    width: 100%;
    color: black;
}

mat-card-header, mat-card-title {
  color: black;
  font-family: source sans pro, sans-serif;
  align-content: center;
  align-items: center;
  text-align: center;
}