<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<mat-card class="userInput-card">
   <mat-card-header>
     <mat-card-title>Experiencing symptoms but not sure what they mean? Use Knowledge Valut to help determine possible causes and treatments, and when to see a doctor.</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="userInput-form">
       <table class="userInput-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="userInput-full-width">
             <input matInput placeholder="Enter your Query" type="search" [(ngModel)]="inputText" color="primary" name="inputText" required>
             </mat-form-field>
           </td>
         </tr>
        </table>
     </form>
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="search()">Search</button>
   </mat-card-actions>
 </mat-card>

 <button (click)="toggleVoiceRecognition()">{{ started ? 'Stop voice recognition' : 'Start voice recognition' }}</button>
<p>
  I heard {{ msg }}
</p>