<div class="drag-drop" fxLayout fxLayoutAlign="space-evenly center">
  <mat-card class="drag-drop-card">
    <mat-card-header>
      <mat-card-title>Add Documents</mat-card-title>
    </mat-card-header>
    <img mat-card-image id="myImg">
      <mat-card-content>
        <app-file-upload-drag-drop [IsuploadSucess]="IsUploaded" maxFiles="10" maxSize="50" (uploadStatus)="getFiles($event)">
        </app-file-upload-drag-drop>
      </mat-card-content>
      <div *ngIf="currentFileUpload" class="progress">
        <section class="example-section">
          <mat-progress-bar
              class="example-margin"
              aria-valuemin="0"
              aria-valuemax="100"
              [color]="primary"
              [mode]="determinate"
              [value]="progress.percentage"
              [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</mat-progress-bar>
        </section>
      </div>
      <mat-card-actions>
        <button class="saveButton"  mat-raised-button type="button" (click)="sendFileDB()">Upload</button>
        <div *ngIf="show_success_msg">
        </div>
      </mat-card-actions>
  </mat-card>
</div>
<br>