<div class="home">
  <h1 style="text-align:center;color: green">
          <p>Welcome to the SME Landing page</p>
    Feel free to contribute to our knowledge-base.
  </h1>
  <div class="bg"></div>
  <h2 style="text-align:center;color: green"> You can provide url for your resource</h2>
  
  <nav>
    <mat-form-field class="url-field">
      <input matInput placeholder="Resource path" type="text" #inp (keyup.enter)="sendUrl(inp.value)">
    </mat-form-field>
  </nav>

  <h2 style="text-align:center;color: green">
    <p>Or</p>
    You can upload data from your personal device itself
  </h2>
  <app-dragndrop> </app-dragndrop>
</div>