.card {
  min-width: 220px;
  min-height: 220px;
  max-width: 300px;
  background-color: rgba(234, 234, 234, 0.0);
  border-radius: 0;
}

mat-card-title {
  color: #990000;
}
.sympHead {
  background-color:  rgba(234, 234, 234, 0.0);
}