.nav-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white;
  color: #bbb;
}

 a {
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
}

button:hover {
  color: black
}

.avatar {
  background-image: url('../../assets/user.png');
  background-size: cover;
}

mat-expansion-panel {
  margin-right: 2%;
}

mat-expansion-panel-header {
  height: 1rem;
}

.nav-spacer {
  flex: 1 1 auto;
}