.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white;
  color: #bbb;
}

span, a {
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
}

button:hover {
  color: black
}