app-card {
    max-width: calc(33.3% - 5px);
}

.error {
    color: red;
    background: url('../../assets/robot-error.webp') center center no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;
    width: 100%;
}