.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.title {
    margin-left: auto;
    margin-right: auto; 
}

button {
  background-color: #5cb85c;
  color: white;
}

mat-card {
  max-width: 40rem;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}