.register-card {
  background-color: white;
  max-width: 80rem;
  position: inherit;
  box-shadow: none;
  justify-content: center;
  text-align: center;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.register-form {
  width: 100%;
  font-size: 1.2rem;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.registration{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-header {
  justify-content: center;
  color: #5cb85c;
}