.register-card {
  background-color: white;
  max-width: 80rem;
  position: inherit;
  box-shadow: none;
  justify-content: center;
  text-align: center;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;

}

.register-form {
  width: 100%;
}

.center {
  width: 75%;
  margin: 10px auto;
}

.register {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-header {
  justify-content: center;
  color: #5cb85c;
}

.register-full-width {
  width: 50vh;
}

a {
  color: #5cb85c;
  font-size: 1rem;
}