<mat-toolbar role="footer" class="footer">
  <mat-toolbar-row class="foot" fxLayout="row wrap" fxLayoutAlign="space between">
    <div style="margin:auto">
      <!-- <span class="foot-spacer"></span> -->
      <div fxShow="true" fxHide.lt-md="false" >
        <span><a routerLink="/">Knowledge Vault</a></span>
        <span class="attribution" fxShow fxHide.lt-md>
          &copy; 2018. An interactive learning project from
           <a href="http://stackroute.in">StackRoute</a>.
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>