<<<<<<< HEAD
mat-toolbar {
  background-color: #f3f3f3;
  color: #bbb;
  font-size: 1rem;
}

/* .foot {
  color: #f3f3f3;
=======
.foot {
  background-color: rgb(150, 42, 42);
>>>>>>> f1d933dff2c9f42734aa8358c5248714c5261ed7
  position: relative;
  bottom:0;
  width:100%;
} */

a {
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
}