<div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="javascript:void(0)" (click)="file.click()">
        Click to browse 
      </a> Or Drag & Drop File.
            <input type="file" #file [multiple]="(maxFiles >=1)" (change)="onFileChange($event)" style="display:none" />
        </div>
    </div>
</div>
<a href="#" *ngIf="errors.length > 0 || successfiles.length > 0" class="pull-right cursorpointer" (click)="clearFiles()"> Clear All</a>
<div class="row error" *ngIf="errors.length > 0">
    <ul>
        <li *ngFor="let err of errors">{{err}}</li>
    </ul>
</div>
<div class="row success successfiles" *ngIf="successfiles.length > 0">
    <ul>
        <li *ngFor="let succ of successfiles">{{succ}}</li>
    </ul>
</div>