.login-card {
  background-color: rgba(249,248,252,0.925);
  max-width: 80rem;
  position: inherit;
  justify-content: center;
  text-align: center;
  /* border: 1px solid;
  padding: 10px; */
  box-shadow: 5px 8px #888888;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  font-size: 1rem;
}

.login-form {
  width: 100%;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.login{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-header {
  justify-content: center;
  color: #5cb85c;
}

.login-full-width {
  width: 50vh;
}

a {
  color: #5cb85c;
  font-size: 1rem;
}