.error {
    color: #f00;
}

.success {
    color: green;
}

.dragarea {
    font-size: 20px;
    padding: 24px 20px 24px 20px;
    background-color: rgba(249, 248, 252, 0.925);
    color: #ccc;
}

.drop {
    background-color: rgba(249,248,252,0.925);
}
.droparea {
    font-size: 20px;
    padding: 24px 20px 24px 20px;
    background-color: #f2f2f2;
    color: #ccc;
}

.successfiles li {
    padding: 2px;
}

.cursorpointer {
    cursor: pointer;
}

a {
    color: rgb(33, 150, 243);
}